li a{
    color: #FFF!important;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
}
.home a{
    color: #9cdf43!important;
}
.modalBody{
    background-color: #FFF;
    border: 1px solid #fff;
    color: #000;
}
.modal-dialog{
    position: fixed;
    z-index: 9;
    width: 500px;
    left: calc(50% - 250px);
    color: #000;
}