<div class="container-fluid border-btm py-3">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <a class="navbar-brand" href="#">
            <img src="/assets/images/dshlogo.png" alt="logo" />
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item home py-2 px-0 px-md-3">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item py-2 px-0 px-md-3">
              <a class="nav-link" href="#specialist">About us</a>
            </li>
            <li class="nav-item py-2 px-0 px-md-3">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item py-2 px-0 px-md-3">
              <a class="nav-link" href="#" (click)="isVisible=true">Contact us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div [ngClass]="isVisible ? 'd-block' : 'd-none'" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mx-auto">Contact Us</h4>
      </div>
      <div class="modal-body">
        <form action="/mail.php" method="POST">
          <div class="form-group">
            <input placeholder="Name" type="text" name="name" class="form-control" id="pwd" required />
          </div>
          <div class="form-group">
            <input placeholder="Email Id" type="email" name="email" class="form-control" id="email" required/>
          </div>
          <div class="form-group">
            <textarea placeholder="Message" name="message"  class="form-control" required></textarea>
          </div>
          <button class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="isVisible=false">Close</button>
      </div>
    </div>
  </div>
</div>
