.welcomeBgntImg{
    background-repeat: no-repeat;
    background-image: url("src/assets/images/dsh_background1.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80vh;
    opacity: 1;
    visibility: inherit;
}
.welcomeTxt{
    color : #9cdf43;
    white-space: nowrap; 
    font-size: 13px; 
    line-height: 22px; 
    font-weight: 600; 
}
.serviceText{
    white-space: nowrap; 
    font-size: 70px; 
    line-height: 90px; 
    font-weight: 700; 
    color: #fff; 
}
.textDetails{
    white-space: nowrap; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: rgb(211, 218, 223);
}
.heading{
    color: #39c6d0;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0px;
}
.h
img{
    max-width: 100%;
    height: auto;
}