<section>
  <div class="welcomeBgntImg">
    <app-header></app-header>
    <div class="container py-0 py-md-5">
      <div class="my-1 py-1 my-md-4 py-md-4">
        <div class="welcomeTxt mt-5">WELCOME ON OUR SITE</div>
        <div class="serviceText mt-3 w-100">IT Service</div>
        <div class="textDetails mt-3">We provide the best IT service and solutions</div>
      </div>
    </div>
  </div>
  <div class="container border-btm py-5 mt-5 mt-sm-0">
    <div class="row">
      <div class="col-sm-4 py-5 text-center">
        <div class="mobileAppIcon">
          <img src="/assets/images/web_app.png">
        </div>
        <h4 class="heading">Web application Development</h4>
      </div>
      <div class="col-sm-4 py-5 text-center">
        <div class="mobileAppIcon">
          <img src="/assets/images/web_hosting.png">
        </div>
        <h4 class="heading">Web Hosting</h4>
      </div>
      <div class="col-sm-4 py-5 text-center">
          <div class="mobileAppIcon">
            <img src="/assets/images/mobile_app_img.png">
          </div>
        <h4 class="heading">Mobile Application Development</h4>
      </div>
    </div>
  </div>
</section>