.bgnt-clr{
    background-color: #09153A;
}
h6 {
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9cdf43;
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0px;
}
p{
    color: #d3dadf;
}
.serviceName {
    font-weight: 400;
    font-size: 16px;
}
.serviceBgdImg{
    background-image: url("src/assets/images/service_bkg1.png");
    background-repeat:no-repeat; 
    background-position:left center; 
    padding:21px 0 21px 80px;
}
.softwareBgdImg{
    background-image: url("src/assets/images/software_dev_bgnt.png");
    background-repeat:no-repeat; 
    background-position:left center; 
    padding:21px 0 21px 80px;
}
.digitalBgdImg{
    background-image: url("src/assets/images/digital_mkt_bdg.png");
    background-repeat:no-repeat; 
    background-position:left center; 
    padding:21px 0 21px 80px;
}
.servicePtnBgdImg{
    background: url("src/assets/images/service_ptn_bg.png") no-repeat 0 8px;
    padding-left: 30px;
}