<section>
  <div class="container-fluid bgnt-clr pb-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="row serviceName">
            <div class="col-sm-6 mt-5 py-2 serviceBgdImg">Web application Development</div>
            <div class="col-sm-6 mt-5 py-2 serviceBgdImg">Web Hosting</div>
            <div class="col-sm-6 mt-5 py-3 softwareBgdImg">Software Development</div>
            <div class="col-sm-6 mt-5 py-3 softwareBgdImg">Software Testing</div>
            <div class="col-sm-6 mt-5 py-3 digitalBgdImg">Digital Marketing</div>
            <div class="col-sm-6 mt-5 py-3 digitalBgdImg">Mobile application Development</div>
          </div>
        </div>
        <div class="col-md-6">
          <h6 class="mt-5">SERVICES</h6>
          <p class="mt-3 font-weight-bold">DSH Solutions offers a full range of hardware and software analysis, web site design, photographic design, and
            logo/corporate presence designs. DSH Solutions can also help you decide on the right hardware, software, and
            business solutions. Services listed here are including, but not limited to:</p>  
          <p class="mt-3 servicePtnBgdImg">Internet content provider and Computer systems and communication equipment.</p>
          <p class="servicePtnBgdImg">Computer systems housing services and Information technology network services.</p>
          <p class="servicePtnBgdImg">Electronic chip programming and IT infrastructure.</p>
          <p class="servicePtnBgdImg">Software design and Web design.</p>
        </div>
      </div>  
    </div>  
  </div>
</section>