.aboutUsTxt{
    color : #9cdf43;
    white-space: nowrap; 
    font-size: 13px; 
    line-height: 22px; 
    font-weight: 600; 
}
.detailsTxt{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0px;
}
.textDetails{
    white-space: nowrap; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: rgb(211, 218, 223);
}
.textDetails2{
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #d3dadf;
}
