<section>
  <div class="container pb-5">
    <div class="row  mt-5">
      <div class="col-sm-8">
        <div class="aboutUsTxt">ABOUT US -</div>
        <div class="detailsTxt mt-3">
          DSH is one of the leading global providers of Information Technology services and business solutions.
          Softwares House is a Master and a thought leader in the field of software development.
        </div>
        <div class="textDetails2 mt-3">
          <b>Professional</b>  - DSH Solutions works with you to achieve the best solution(s) for your project(s). We strive to maintain our professionalism on all aspects of work and site deployment. Trust us to do it the way you want!
          <br><b>Reliable</b> - You can count on dsh Solutions to be there during and after the project. We're there if you have any problems or questions.
          <br><b>Fast & Friendly</b> - Our normal turn-around on website maintenance is within 24 hours, but typically shorter. We'll always let you know what the working time-frame will be and we strive to work within your deadlines.
        </div>
      </div>
      <div class="col-sm-4 ">
        <img src="/assets/images/dsh_specialist.png" class="w-100" >
      </div>
    </div>
    <div class="row">
     
    </div>
  </div>
</section>