body{
    background-color: #0A1843;
    color: #FFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}
.border-btm{
    border-bottom: 1px solid rgb(255, 255, 255, .2);
}